body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  
      
}
.header-container {
    display: flex;
    background-color: rgb(151, 142, 142);
    justify-content: center;
    align-items: center;
   
}
.conteudo-container {
    background-color: rgb(32, 132, 214);
    display: flex;
    flex-direction: row;
    
}
.letraDesign {
    color: white;
    margin: 0;
    padding: 10px;
}
.letraDesign:hover {
    color: brown;
}
.menu {
    display: flex;
    margin: 0;
}
.menu a {
    text-decoration: none;
}
.logoContainer {
    margin-right: 50%;

}
