<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="../css/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="header-container">
        <div class="logoContainer">
            <img class="logo" src="../assets/raposa-de-fogo.png" width="30px" height="30px">
        </div>
            <h1 class="menu">Tela de login</h1>
    </div>
</body>

</html>